<%= form_for(question, remote: true ) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-float form-group">
    <div class="form-line">
      <%= f.hidden_field :exam_id, value: exam.id %>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="form-float form-group">
      <div class="form-line">
        <%= f.label :question, class: "form-label" %>
        <%= f.text_field :question, class: "form-control" %>
      </div>
    </div>

    <div class="form-float form-group">
      <div class="form-line">
        <%= f.label :question_type %>
        <%= f.select :question_type, options_for_select(['Choices', 'Discriptive']), {}, class: "form-control" %>
      </div>
    </div>

    <div class="form-float form-group">
      <div class="form-line">
        <%= f.text_area :description, class: "form-control", placeholder: "Question description" %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">

    <div id="choices">
      <%= f.fields_for :options do |option| %>
        <div class="form-float form-group">
          <div class="form-line">
            <%= label_tag "Options A", "Option A", class: "form-label" %>
            <%= option.text_field :A, class: "form-control" %>
          </div>
        </div>
        <div class="form-float form-group">
          <div class="form-line">
            <%= label_tag "Options B", "Option B", class: "form-label" %>
            <%= option.text_field :B, class: "form-control" %>
          </div>
        </div>
        <div class="form-float form-group">
          <div class="form-line">
            <%= label_tag "Options C", "Option C", class: "form-label" %>
            <%= option.text_field :C, class: "form-control" %>
          </div>
        </div>
        <div class="form-float form-group">
          <div class="form-line">
            <%= label_tag "Options D", "Option D", class: "form-label" %>
            <%= option.text_field :D, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="form-float form-group" id="choices-answer">
      <div class="form-line">
        <%= f.label :answer %>
        <%= f.select :answer, options_for_select(['A', 'B', 'C', 'D']), {}, class: "form-control" %>
      </div>
    </div>

    <div class="form-float form-group" id="descriptive-answer" style="display: none;">
      <div class="form-line">
        <%= f.label :answer, class: "form-label" %>
        <%= f.text_area :answer, class: "form-control", disabled: true %>
      </div>
    </div>
  </div>

  <div class="actions align-right demo-button-sizes">
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
      <%= f.submit "Add Question", class: "btn bg-cyan waves-effect" %>
    </div>
  </div>
<% end %>
