<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <p id="notice"><%= notice %></p>
      <div class="header">
        <h2>Edit Question</h2>
      </div>
      <div class="body" id="exam-question-form">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= render 'questions/form', question: @question, exam: @question.exam %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>
