<p id="notice"><%= notice %></p>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <p id="notice"><%= notice %></p>
      <div class="header">
        <h2>Edit Question</h2>
      </div>
      <div class="body" id="exam-question-form">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
              <strong>Exam:</strong>
              <%= @question.exam.title %>
            </p>

            <p>
              <strong>Question:</strong>
              <%= @question.question %>
            </p>

            <p>
              <strong>Question type:</strong>
              <%= @question.question_type %>
            </p>

            <p>
              <strong>Options:</strong>
              <ol type="A">
                <% eval(@question.options).each do |k,v| %>
                  <li><%= v %></li>
                <% end %>
              </ol>
            </p>

            <p>
              <strong>Answer:</strong>
              <%= @question.answer %>
            </p>
          </div>
        </div>
        <%= link_to 'Edit', edit_question_path(@question) %> |
        <%= link_to 'Back', questions_path %>
      </div>
    </div>
  </div>
</div>
