<div class="block-header">
  <h2>DASHBOARD</h2>
</div>
<div class="row clearfix">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-pink hover-expand-effect">
      <div class="icon">
        <i class="material-icons">playlist_add_check</i>
      </div>
      <div class="content">
        <div class="text">All Exams</div>
        <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">
          <%= @exams.try(:count) || 0 %>
        </div>
      </div>
    </div>
  </div>

  <% if current_employee.user_role != 'employee' %>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-cyan hover-expand-effect">
        <div class="icon">
          <i class="material-icons">event_available</i>
        </div>
        <div class="content">
          <div class="text">Active Exams</div>
          <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">
            <%= @active_exams.try(:count) || 0 %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-cyan hover-expand-effect">
        <div class="icon">
          <i class="material-icons">event_available</i>
        </div>
        <div class="content">
          <div class="text">Attemted Exam</div>
          <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"><%= @results.try(:count) || 0 %></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-green hover-expand-effect">
        <div class="icon">
          <i class="material-icons">event_busy</i>
        </div>
        <div class="content">
          <div class="text">UpAttemted Exam</div>
          <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"><%= (@exams.try(:count) || 0) - ( @results.try(:count) || 0 )%></div>
        </div>
      </div>
    </div>
  <% end %>
</div>