<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p id="notice"><%= notice %></p>
    <div class="card">
      <div class="header">
        <h2>
          Add Signature
        </h2>
      </div>
      <div class="body">
        <%= render 'form', signature: @signature %>
        <div class="clearfix"></div>
        <h1>Signatures</h1>
        <div class="body table-responsive">
          <table class="table table-hover datatable">
            <thead>
              <tr>
                <th>Signature</th>
                <th>Title</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <%= render @signatures %>
            </tbody>
          </table>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>