<tr>
  <td><%= perf_review.request.perf_review_request.employee.email %></td>
  <td><%= perf_review.request.perf_review_request.reviewee.email %></td>
  <td><%= perf_review.avg %>
  <td>
    <%= link_to perf_review_path(perf_review, format: :pdf) do %>
      Show
    <% end %>
    <%= link_to edit_perf_review_path(perf_review) do %>
      Edit
    <% end %>
  </td>
</tr>