<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p id="notice"><%= notice %></p>
    <div class="card">
      <div class="header">
        <h2>
          Pending  Reviews
        </h2>
        <% if current_employee.any_reviews_pending? %>
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Created by</th>
                <th>Reviewee</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <% current_employee.reviews_pending.each do |review_pending| %>
                <tr>
                  <td><%= review_pending.employee.email %></td>
                  <td><%= review_pending.perf_review_request.reviewee.email %></td>
                  <td>
                    <%= link_to give_review_path(review_pending) do %>
                      Review
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
          You have some review pending for employees. Kindly review them in below given form.
          Reviews pending for <b> <i> <%= current_employee.reviews_pending_for.to_sentence %> </b> </i>
        <% else %>
          No request pending for reviewing.
        <% end %>
      </div>
      <h2>Your sent Reviewees</h2>
      <div class="body table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Created by</th>
              <th>Reviewee</th>
              <th>Average Point</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <%= render @perf_reviews %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-1 column">
    </div>
  </div>
</div>