<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", disabled: true %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :state %>
        <%= f.text_field :state, class: "form-control" %>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :country %>
        <%= f.text_field :country, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :zipcode %>
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :role_id %>
        <%= f.select :role_id, Role.all.collect {|r| [ r.role, r.id ] }, {}, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Save Employee", class: "btn bg-blue waves-button-input" %>
  </div>
<% end %>
