<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
          Employees
          <small>Show/Edit/Delete</small>
          
        </h2>
      </div>
      <% if @employees.present? %>
      <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @employees.each do |employee| %>
                <tr>
                  <td><%= employee.name %></td>
                  <td><%= employee.email %></td>
                  <td><%= employee.user_role %></td>
                  <% if current_employee.user_role != 'employee' %>
                    <td><%= link_to 'Show', employee_profile_path(employee) %></td>
                    <td><%= link_to 'Edit', edit_employee_path(employee
                    ) %></td>
                    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        You don't have any exam
      <% end %>
      <br/>
    </div>
  </div>
</div>