<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <p id="notice"><%= notice %></p>
      <div class="header">
        <h2>Issues</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-sm-6 col-sm-offset-2 col-xs-12">
            <% if @issues.present? %>
              <div class="body table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Creator</th>
                      <th>Solved by</th>
                      <th>Status</th>
                      <% if current_employee.user_role != 'employee' %>
                      <th colspan="3"></th>
                      <%end%>
                    </tr>
                  </thead>
                  <tbody>
                    <% @issues.each do |issue| %>
                      <tr>
                        <td><%= issue.title %></td>
                        <td><%= issue.description %></td>
                        <td><%= issue.creator.name if issue.creator.present? %></td>
                        <td><%= issue.solver.name if issue.solver.present? %></td>
                        <td>
                          <% if current_employee.president? || current_employee.hr? %>
                            <%if issue.status == 1 %>
                              <%= link_to "In Progress", issue_path(issue, issue: { status: 2, solved_by: current_employee.id }), method: :patch %>
                            <% elsif issue.status == 2 %>
                              <%= link_to "Complete", issue_path(issue, issue: {status: 3, solved_by: current_employee.id}), method: :patch %>
                            <% else %>
                              <%= issue.issue_status %>
                            <% end %>
                          <% else %>
                            <%= issue.issue_status %>
                          <%end%>
                        </td>
                        
                        <% if current_employee.user_role != 'employee' %>
                          <td><%= link_to 'Show', issue %></td>
                          <td><%= link_to 'Edit', edit_issue_path(issue
                          ) %></td>
                          <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
                You don't have any Issue(s)
            <% end %>
          </div>
        </div>
        <%= link_to 'New Issue', new_issue_path %>
      </div>
    </div>
  </div>
</div>