<p id="notice"><%= notice %></p>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Results</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Exam</th>
                    <th>Subject</th>
                    <th>Obtained marks</th>
                    <th>Correct ans</th>
                    <th>Incorrect ans</th>
                    <th colspan="<%= '2' if current_employee.user_role != 'employee' %>"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @results.each do |result| %>
                    <tr>
                      <td><%= result.employee.name %></td>
                      <td><%= result.exam.title %></td>
                      <td><%= result.exam.subject.try(:title) %></td>
                      <td><%= result.obtained_marks %></td>
                      <td><%= result.correct_ans %></td>
                      <td><%= result.incorrect_ans %></td>
                      <% if current_employee.user_role != 'employee' %>
                        <td> <%= link_to 'Show', result %> </td>
                        <td id="result-status-<%=result.id%>"> 
                          <% unless result.status %>
                            <%= link_to 'Declare', activate_result_path(result), remote: true %> 
                          <% else %>
                            <%= link_to 'Revoke', inactivate_result_path(result), remote: true %> 
                          <% end %>
                        </td>
                      <% else %>
                        <td><%= link_to 'Print', print_path(result, format: :pdf) %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>