<%= form_for(leave) do |f| %>
  <% if leave.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(leave.errors.count, "error") %> prohibited this leave from being saved:</h2>
    <ul>
      <% leave.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :subject,class: "form-label" %>
        <%= f.text_field :subject, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :body, class: "form-label" %>
        <%= f.text_field :body, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :from_date %>
        <%= f.text_field :from_date, class: "form-control datepicker" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group form-float">
      <div class="form-line">
        <%= f.label :to_date %>
        <%= f.text_field :to_date, class: "form-control datepicker" %>
      </div>
    </div>
  </div>
  <!-- <div class="field"> -->
  <%#= f.label :acceptable_type %>
  <%#= f.text_field :acceptable_type %>
  <!-- </div> -->
  <% if current_employee.employee? || current_employee.team_leader? || current_employee.team_manager? %>

    <% elsif  current_employee.hr? %>
    <%= f.hidden_field :assigned_to, value: @assigned_to %>
    <%end%>
    <div class="actions demo-button-sizes">
      <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
        <%= f.hidden_field :employee_id, value: current_employee.id %>        
        <%= f.submit "Next", class: "btn bg-cyan waves-effect" %>
      </div>
    </div>

    </div>
<% end %>