<div class="row">
  <div class="col-sm-offset-2 col-sm-6">
    <h1>Editing Leafe</h1>

    <%= render 'form', leave: @leave %>

    <%= link_to 'Show', @leave %> |
    <%= link_to 'Back', leaves_path %>
  </div>
</div>
