<% @leaves =  @my_leaves %>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Leaves</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="body table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Subject</th>
                    <th>Body</th>
                    <th>From date</th>
                    <th>To date</th>
                    <th>assigned_to type</th>
                    <th>Correge</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @leaves ||= [] %>
                  <% @leaves.each do |leafe| %>
                  <%if leafe.all_assign.present?%>
                  <tr>
                    <td><%= leafe.subject %></td>
                    <td><%= leafe.body %></td>
                    <td><%= leafe.from_date %></td>
                    <td><%= leafe.to_date %></td>
                    <td><%= leafe.leave_work_assigns.map(&:assign_to).uniq!.to_s
 %></td>
                    <td><%= leafe.employee_id %></td>
                    <td><%= link_to 'Show', leafe %></td>
                    <td><%#= link_to 'Edit', edit_leafe_path(leafe) %></td>
                    <td><%= link_to 'Destroy', leafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <%= link_to 'Add Leave', new_leafe_path unless current_employee.president? %>
      </div>
    </div>
  </div>
</div>