<div class="row clearfix">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h2>New Leave</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-sm-6 col-sm-offset-2 col-xs-12">
           <%= render 'form', leave: @leave %>
          </div>
        </div>
        <%= link_to 'Back', leaves_path %>
      </div>
    </div>
  </div>
</div>