<div class="row clearfix">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h2>Project</h2>
      </div>
      <div class="body">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Name:</strong>
          <%= @project.name %>
        </p>

        <p>
          <strong>Assigned to:</strong>
          <% if @project.project_team.present? %>
            <%= @project.project_team.name %>
          <% end %>
        </p>

        <p>
          <strong>Client:</strong>
          <%= @project.client %>
        </p>

        <%= link_to 'Edit', edit_project_path(@project) %> |
        <%= link_to 'Back', projects_path %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row clearfix">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h2>Project Team</h2>
      </div>
      <div class="body">
        <%if @project.project_team.present?%>
          <%@project_team = @project.project_team%>
          <p>
            <strong>Name:</strong>
            <%= @project_team.name %>
          </p>
          <%= link_to "Add Team Member", new_project_team_member_path(pt: @project_team), class: "btn bg-light-blue waves-effect" %>
          <br/>
          <br/>
          <h4>Project Team Members</h4>
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <td> Member Name </td>
                <td> Member Role </td>
              </tr>
            </thead>
            <tbody>
              <%@project_team.project_team_members.each do |member| %>
                <tr>
                  <td><%= member.employee.name %></td>
                  <td><%= member.employee.user_role %></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        <%else%>
          <%= link_to "New Project Team",  new_project_team_path %>
        <%end%>
      </div>
    </div>
  </div>
</div>
