<p id="notice"><%= notice %></p>

<p>
  <strong>From date:</strong>
  <%= @experience.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @experience.to_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @experience.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
