<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p id="notice"><%= notice %></p>
    <div class="card">
      <div class="header">
        <h2>
          Performance Review Requests
        </h2>
      </div>
      <div class="body">
        <div id="add-review-request-form">
          <%= render 'form', perf_review_request: @perf_review_request %>
        </div>
        <div class="clearfix"></div>
        <h1>Requests</h1>
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Created by</th>
                <th>Reviewee</th>
                <th>Reviewer/Reviewers</th>
              </tr>
            </thead>

            <tbody>
              <%= render @perf_review_requests %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>