<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p id="notice"><%= notice %></p>
    <div class="card">
      <div class="header">
        <h2>
          Add Team
        </h2>
      </div>
      <div class="body">
        <div id="add-subject-form">
          <%= render 'form', subject: @subject %>
        </div>
        <div class="clearfix"></div>
        <h1>Subjects</h1>
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <%= render @subjects %>
            </tbody>
          </table>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>