<h1>ProjectTeamMembers#index</h1>
<p>Find me in app/views/project_team_members/index.html.erb</p>
<div class="row">
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <div class="table-responsive">
      <p id="notice"></p>
      <h1>Project Team</h1>
      <% if @project_team_members.present? %>
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>project</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @project_team_members.each do |team| %>
              <tr>
                <td><%= team.name %></td>
                <td>
                  <ol>
                    <% team.project_title.each do |name| %>
                      <li><%= name %></li>
                    <% end %>
                  </ol>
                </td>
                  <td><%= link_to 'Show', project_team_path(team) %></td>
                  <td><%= link_to 'Edit', edit_project_team_path(team
                  ) %></td>
                  <td><%#= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        You don't have any exam 
      <% end %>
      <br>
      <%= link_to 'New Exam', new_exam_path if current_employee.user_role == 'teacher' %>
    </div>
  </div>
</div>