<div class="row clearfix js-sweetalert">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <p id="notice"><%= notice %></p>
      <div class="header">
        <h2>Exam <span id="question-count">(<%= @exams.count %>)</span>: </h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <% if @exams.present? %>
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Marks</th>
                  <th>Time</th>
                  <th>State</th>
                  <th colspan="<%= '3' if current_employee.user_role != 'employee' %>"></th>
                </tr>
              </thead>
              <tbody>
                <% @exams.each do |exam| %>
                  <tr>
                    <td><%= exam.title %></td>
                    <td><%= exam.marks %></td>
                    <td><%= exam.time %></td>
                    <td><%= exam.state.nil? ? 'Not Enabled' : exam.state ? 'Enabled' : 'Up Coming' %></td>
                    <% if current_employee.user_role != 'employee' %>
                      <td><%= link_to 'Show', exam %></td>
                      <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
                      <td><%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% else %>
                      <td>
                        <%- result = exam.results.find_by(employee: current_employee) %>
                        <% if (result.nil? || (result.completed_at.present? && result.completed_at > DateTime.now)) && result.nil? %>
                          <%= link_to "Start", exam_start_path(exam) if exam.state %>
                        <% elsif result.present? && (result.completed_at.present? && result.completed_at > DateTime.now) %>
                          Started
                        <% else%>
                          Completed
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            You don't have any exam 
          <% end %>
          <br>
          <%= link_to 'New Exam', new_exam_path if current_employee.user_role == 'teacher' %>
        </div>
      <div>
    </div>
  </div>
</div>
