<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <p id="notice"><%= notice %></p>
      <div class="header">
        <h2>Teams</h2>
        <p id="notice"><%= notice %></p>
      </div>
      <div class="body">
        <table class="table table-hover">
          <thead>
            <tr>
              <strong>Exam:</strong>
              <%= @exam.title %>
            </tr>
            <tr>
              <td><strong>Marks:</strong></td>
              <td><%= @exam.marks %></td>
            </tr>
            <tr>
              <td><strong>Time:</strong></td>
              <td><%= @exam.time %>  Minutes</td>
            </tr>
            <tr>
              <td><strong>State:</strong></td>
              <td><%= @exam.state %></td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <p id="notice"><%= notice %></p>
      <div class="header">
        <h2>Questions <span id="question-count"><%= @questions.count %></span>: </h2>
        <p id="notice"><%= notice %></p>
      </div>
      <div class="body">
        <%= render "questions/index" %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix mt20"></div>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Question</h2>
      </div>
      <div class="body" id="exam-question-form">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= render 'questions/form', question: @question, exam: @exam %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
