<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @response.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @response.answer %>
</p>

<p>
  <strong>User:</strong>
  <%= @response.employee %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
