<div class="row clearfix">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h2>Employee Report</h2>
      </div>
      <div class="body">
        <div class="row clearfix">
          <div class="col-sm-6 col-sm-offset-2 col-xs-12">
            <%= form_for(:report, :url => employee_report_show_path, html: { class: "form-horizontal"}, remote: true) do |f| %>
            <div class="col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <%= f.label :project_id, class: "form-label" %>
                  <%= f.select :project_id, Project.all.collect {|p| [ p.name, p.id ] }, {}, class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <%= f.label :start_date, class: "form-label" %>
                  <%= date_field(:start_date,:start_date, class: "form-control") %>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <%= f.label :end_date, class: "form-label" %>
                  <%= date_field(:end_date,:end_date, class: "form-control") %>
                </div>
              </div>
            </div>
            <div class="actions demo-button-sizes">
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <%= f.submit "Show Report", class: "btn bg-cyan waves-effect" %>
              </div>
            </div>
            <% end %>            
          </div>
        </div>
        <%= link_to 'Back', leaves_path %>
      </div>
    </div>
  </div>
</div>

<hr class="style13">
<div class="row clearfix">
  <div class="col-sm-12">
    <div class="card">
      <div class="header">
        <h2>Employee Report</h2>
      </div>
      <div class="body">
        <h3>Employee List </h3>
        <div class="add_report_list">
        </div>
      </div>
    </div>
  </div>
</div>