<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p id="notice"><%= notice %></p>
    <div class="card">
      <div class="header">
        <h2>
          Templates
        </h2>
      </div>
      <div class="body">
        <!-- <h1>Subjects</h1> -->
        <div class="body table-responsive">
          <table class="table table-hover datatable">
            <thead>
              <tr>
                <th>File name</th>
                <th>Type</th>
                <th>Uploaded by</th>
                <th>Actions</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @templates.each do |template| %>
                <tr>
                  <td><%= template.document_file_name %></td>
                  <td><%= template.template_type %>
                  <td><%= template.employee.name %></td>
                  <td>
                    <%= link_to show_emp_benefit_doc_path(template) do %>
                      <i class="material-icons">remove_red_eye</i>
                    <% end %>
                    <% if current_employee.hr? %>
                      <%= link_to delete_emp_benefit_doc_path(template), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="material-icons">delete</i>
                      <% end %>
                    <% end %>
                    <%= link_to download_emp_benefit_doc_path(template) do %>
                      <i class="material-icons">file_download</i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if current_employee.hr? %>
      <div class="card">
        <div class="header">
          <h2>
            Upload Templates
          </h2>
        </div>
        <div class="body">
          <%= form_for(EmpBenefitDoc.new, url: upload_template_path(current_employee), method: :post, html: { multipart: true }) do |f| %>
          <div class="col-xs-12">
            <div class="form-group form-float">
              <div class="form-line">
                <%= f.text_field :template_type, class: "form-control" %>
                <label class="form-label">Document type</label>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group form-float">
              <%= file_field_tag "documents[]", type: :file, multiple: true %>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-actions">
              <%= f.submit 'Upload', :class => 'btn btn-primary' %>
            </div>
          </div>
          <% end %>
          <div class="clearfix"></div>
      </div>
    </div>
    <% end %>
    <div class="card">
      <div class="header">
        <h2>
          Upload your documents
        </h2>
      </div>
      <div class="body">
        <br>
        <%= form_for(EmpBenefitDoc.new, url: upload_benefit_doc_path(current_employee), method: :post, html: { multipart: true }) do |f| %>
        <div class="col-xs-12">
          <div class="form-group form-float">
              <label class="form-label">Document type</label>
              <%= f.select :template_type, @template_types, class: "form-control" %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group form-float">
            <%= file_field_tag "documents[]", type: :file, multiple: true %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-actions">
            <%= f.submit 'Upload', :class => 'btn btn-primary' %>
          </div>
        </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h2>
          Your Uploaded Documents
        </h2>
      </div>
      <div class="body">
        <!-- <h1>Subjects</h1> -->
        <div class="body table-responsive">
          <table class="table table-hover datatable">
            <thead>
              <tr>
                <th>File name</th>
                <th>Type</th>
                <th>Actions</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @uploaded_docs.each do |doc| %>
                <tr>
                  <td><%= doc.document_file_name %></td>
                  <td><%= doc.template_type %>
                  <td>
                    <%= link_to show_emp_benefit_doc_path(doc) do %>
                      <i class="material-icons">remove_red_eye</i>
                    <% end %>
                    <%= link_to delete_emp_benefit_doc_path(doc), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="material-icons">delete</i>
                    <% end %>
                    <%= link_to download_emp_benefit_doc_path(doc) do %>
                      <i class="material-icons">file_download</i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if current_employee.hr? %>
      <div class="card">
        <div class="header">
          <h2>
            All User Documents
          </h2>
        </div>
        <div class="body">
          <!-- <h1>Subjects</h1> -->
          <div class="body table-responsive">
            <table class="table table-hover datatable">
              <thead>
                <tr>
                  <th>File name</th>
                  <th>Type</th>
                  <th>Uploaded by</th>
                  <th>Actions</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @all_user_docs.each do |doc| %>
                  <tr>
                    <td><%= doc.document_file_name %></td>
                    <td><%= doc.template_types %>
                    <td><%= template.employee.name %></td>
                    <td>
                      <%= link_to show_emp_benefit_doc_path(doc) do %>
                        <i class="material-icons">remove_red_eye</i>
                      <% end %>
                      <%= link_to delete_emp_benefit_doc_path(doc), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="material-icons">delete</i>
                      <% end %>
                      <%= link_to download_emp_benefit_doc_path(doc) do %>
                        <i class="material-icons">file_download</i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>